body {
  background-color: #1e63d6;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  width: 400px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 8px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  background: #1e63d6;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

li {
  list-style: none;
  background: #d7ecef;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.delete {
  background: #1e63d6;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}